spring:
  kafka:
    consumer:
      group-id: midas-core
      auto-offset-reset: earliest

  datasource:
    url: jdbc:h2:mem:midas;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  h2:
    console:
      enabled: true
      path: /h2-console

general:
  kafka-topic: transactions

logging:
  level:
    org.hibernate.SQL: warn

server:
  port: 33400